Options +FollowSymLinks
RewriteEngine On
RewriteRule ^login.aspx$ login.php [L]
RewriteRule ^(.*).aspx$ index.php?show=$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/?$ index.php?show=$1 [NC,L]